@{
    ViewData["Title"] = "Crea un nuovo progetto";
}

<h2>@ViewData["Title"]</h2>


<div class="container d-flex justify-content-center">
    <form id="progettoForm" class="w-50">
        <div class="form-group">
            <label for="nome" class="control-label">Nome del progetto</label>
            <input type="text" id="nome" name="nome" class="form-control" required />
            <span id="nomeError" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <input type="password" id="password" name="password" class="form-control" required />
            <span id="passwordError" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="dataInizio" class="control-label">Data di inizio</label>
            <input type="datetime-local" id="dataInizio" name="dataInizio" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="dataFine" class="control-label">Data di fine</label>
            <input type="datetime-local" id="dataFine" name="dataFine" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Crea</button>
    </form>
</div>

@section Scripts {
    <script>

        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
            return null;
        }

         document.getElementById('progettoForm').addEventListener('submit', async function (e) {
            e.preventDefault();

            const nome = document.getElementById('nome').value;
            const password = document.getElementById('password').value;
            const dataInizio = document.getElementById('dataInizio').value;
            const dataFine = document.getElementById('dataFine').value;
            const adminId = getCookie('adminId');


            try {
                const response = await fetch('/api/progetti/CreaProgetto', {
                    method: 'POST',
                    body: new URLSearchParams({
                        nome: nome,
                        password: password,
                        dataInizio: dataInizio,
                        dataFine: dataFine,
                        adminId: adminId
                    }),
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                });

                if (response.ok) {
                    const result = await response.json();
                    window.location.href = "/Home/Index";

                } else {
                    const errorData = await response.json();
                    console.alert('Errore nella creazione del progetto:' + errorData.Message;
                }
                     } catch (error) {
                console.error('Errore durante la richiesta della creazione del progetto:', error);
                alert('Errore nella creazione del progetto, riprova.');
                }


    </script>
}