@{
    ViewData["Title"] = "Home Page";
}
<h1>Benvenuto in TeamTrack</h1>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="~Views/Progetti/ListaProgetti" class="btn btn-primary">Visualizza i progetti</a>
</div>
